*.pem
*.key
.env
arc-system/github-app-secret.yaml
MY_NOTES.md
MY_NOTES.txt
NETWORKING.md

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfvars
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfplan
terraform/tfplan
